@addTagHelper *, FitMeApp
@using System.Linq
@using System.Security.AccessControl
@using FitMeApp.Common

@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager
@model IEnumerable<FitMeApp.WEB.Contracts.ViewModels.TrainerViewModel>




<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>
                All Trainers on one page!
            </h4>
            <h6>
                You can use filters to find the most suitable trainer for you.
            </h6>
            <hr />
            <p>
                <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Filters
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form asp-controller="Trainers" asp-action="TrainersFilter" method="post">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <p style="font-weight: bold">
                                        Trainers gender
                                    </p>
                                    @foreach (var gender in Enum.GetValues(typeof(GenderEnum)))
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" name="selectedGenders" type="checkbox" value="@gender" id="@gender">
                                            <label class="form-check-label" for="@gender">
                                                @gender
                                            </label>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-4">
                                    <p style="font-weight:bold">
                                        Trainers specialization
                                    </p>
                                    @foreach (var specialization in Enum.GetValues(typeof(TrainerSpecializationsEnum)))
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" name="selectedSpecializations" type="checkbox" value="@specialization" id="@specialization" multiple>
                                            <label class="form-check-label" for="@specialization">
                                                @((specialization as Enum).GetDescription())

                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div>
                                <input type="submit" value="OK" class="btn btn-dark" />
                                <a asp-controller="Trainers" asp-action="AllTrainers" class="btn btn-dark">Clean filters</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/Content/images/gym4.jpg" class="d-block w-100" alt="picture" style="margin:15px">
        </div>
    </div>
</div>

<div class="container" style="border-block:solid">
    @foreach (var trainer in Model)
    {
        @await Component.InvokeAsync("CurrentTrainerInfo", trainer)
    }

</div>
