@model IEnumerable<FitMeApp.WEB.Contracts.ViewModels.GymViewModel>


<div class="container">
    <div class="row">
        <div class="col-md-8" style="padding:20px">
            <h4>
                Are you looking for a gym? You've come to the right place!
            </h4>
            <h6>                
                Here you can choose the gym that suits you! Use a filter if necessary. 
                Any gym will be glad to see such a wonderful person like you!
            </h6>
            <hr />
        </div>
        <div class="col-md-4">            
            <img src="/Content/images/gym4.jpg" class="d-block w-100" alt="picture" style="margin:15px">
        </div>
    </div>

</div>
<div>
    <p>
        <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filters
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form asp-controller="Gyms" asp-action="Index" method="post">
                <div class="container">
                    <div class="row">
                        @*<div class="col-md-4">
                            <p style="font:bold">
                                Address
                            </p>
                            <div class="form-check">
                                <input class="form-check-input" name="Districts" type="checkbox" value="@((int)FitMeApp.Common.DistrictPostCodeEnum.district1)" id="district 1">
                                <label class="form-check-label" for="flexCheckDefault">
                                    district 1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="Districts" type="checkbox" value="@((int)FitMeApp.Common.DistrictPostCodeEnum.district2)" id="district 2">
                                <label class="form-check-label" for="flexCheckDefault">
                                    district 2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="Districts" type="checkbox" value="@((int)FitMeApp.Common.DistrictPostCodeEnum.district3)" id="district 3">
                                <label class="form-check-label" for="flexCheckDefault">
                                    district 3
                                </label>
                            </div>
                        </div>*@
                        <div class="col-md-4">
                            <p style="font:bold">
                                Group classes
                            </p>
                            @foreach (var groupClass in ViewBag.GroupClasses)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" name="SelectedGroupClassesId" type="checkbox" value="@groupClass.Id" id="@groupClass.Id">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        @groupClass.Name
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="OK"  class="btn btn-dark"/>
                    </div>
                </div>
            </form>
           
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        @foreach (var gym in Model)
        {
            <div class="col-md-3" style="border:groove; padding:15px">
                <div id="carouselExampleControlsNoTouching_@gym.Id" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-inner" >
                        <div class="carousel-item active" style="height:200px">
                            <img src="/Content/@gym.Name/1.jpg" class="d-block w-100" style="height:100%; width:auto" alt="picture 1">
                        </div>
                        @for (int i = 2; i < 5; i++)
                        {
                            string path = "/Content/"+gym.Name+"/"+i+".jpg";
                            <div class="carousel-item" style="height:200px">
                                <img src=@path class="d-block" style="height:100%; width:auto" alt="picture @i">
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching_@gym.Id" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching_@gym.Id" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <br />
                <div style="text-align:center">
                    <h3>
                        @gym.Name
                    </h3>
                    <hr />
                    <h5>
                        @gym.Address
                    </h5>
                    <a asp-controller="Gyms" asp-action="GymInfo" class="btn btn-dark">Show more</a>
                   
                </div>
            </div>
        }


    </div>
</div>
