@model FitMeApp.Models.ExcelModels.VisitingChartExcelFileViewModel


<h3>Visiting statistic</h3>
<hr/>

<div class="container">
    <div>
        <h5>
            To load visiting data do some steps below:
        </h5>
        <h6>
            1. Download the blank by pressing the button
        </h6>
        @*<a asp-controller="Gyms" asp-action="DownloadVisitingChartBlank" asp-route-gymName="@Model.GymName" asp-route-gymId="@Model.GymId" class="btn btn-dark"> Download blank</a>*@
        @*<a href="@Model.BlankFullPath" download="VisitingBlank" class="btn btn-dark">Download blank</a>*@
        <a href="@Model.BlankFullPath" download="VisitingBlank" class="btn btn-dark">Download blank</a>
        <br />
        <br />
        <h6>
            2. Follow the path and fill the blank @*todo write how user can find downloaded file*@
        </h6>
        <h6>
            3. Save changes in Excel. Please, don't change a file directory and file name.
        </h6>
        <h6>
            4. Load filled blank by pressing the button bellow:
        </h6>
        <a asp-controller="Gyms" asp-action="LoadVisitingChartFile" asp-route-gymName="@Model.GymName" asp-route-gymId="@Model.GymId" class="btn btn-dark"> Load visiting data</a>
        <br />
        <br />
        <h6>
            5. Once you make all the steps, you could see the char on your Gym page.
        </h6>
    </div>
</div>