@model IEnumerable<FitMeApp.WEB.Contracts.ViewModels.SubscriptionViewModel>

<div>
    <h2>
        Text about Subscriptions
    </h2>
</div>
<div>
    <p>
        <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filters
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form asp-controller="Gyms" asp-action="Subscriptions" asp-route-gymId="@Model.First().GymId" method="post">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p style="font:bold">
                                Valid period
                            </p>
                            @foreach (var period in ViewBag.SubscriptionValidPeriods)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" name="selectedPeriods" type="checkbox" value="@period" id="@period">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        @period days
                                    </label>
                                </div>
                            }
                        </div>
                        <div class="col-md-4">
                            <p style="font:bold">
                                Other options
                            </p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" name="groupTraining" id="groupTraining">
                                <label class="form-check-label" for="groupTraining">
                                    Group trainings
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" name="dietMonitoring" id="dietMonitoring">
                                <label class="form-check-label" for="dietMonitoring">
                                    Diet monitoring
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="OK" class="btn btn-dark" />
                        <a asp-controller="Gyms" asp-action="Subscriptions" asp-route-gymId="@Model.First().GymId" class="btn btn-dark">Clear filters</a>
                    </div>
                </div>
            </form>          
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="text-align:center">
        @foreach (var subscription in Model)
        {
            string imagePath = "/Content/Subscriptions/gym" + subscription.Image + ".jpg";
            
                <div class="card border-dark mb-3" style="width:28%;margin:20px">
                    <div style="height:75px;">
                        <img src="@imagePath" class="card-img-top" alt="..." style="height:100%; width:auto">
                    </div>
                    <hr style="margin-bottom:5px"/>
                    <div class="card-body" style="text-align:center; padding:10px; height:310px">
                        <h5 style="font:bold">Subscription for</h5>
                        <h3 class="card-title" style="font:bold">@subscription.ValidDays @(subscription.ValidDays==1?"day":"days")</h3>
                        <p class="card-text" style="text-align:left; height:100px">
                            Include:
                            <br />
                            - Access to the gym;
                            <br />
                            @(subscription.GroupTraining==true?"- Group training;":null)
                            <br />
                            @(subscription.DietMonitoring==true? "- Diet monitoring;" : "")
                        </p>
                        <div class="card-footer">
                            <h3 style="font:bold">@subscription.Price $</h3>
                            <a href="#" class="btn btn-dark">Take it!</a>
                        </div>
                    </div>
                </div>
          
        }

    </div>

</div>