@addTagHelper *,FitMeApp
@model FitMeApp.WEB.Contracts.ViewModels.GroupClassScheduleCalendarViewModel


<div class="container">
    <div class="row">
        <div>
            <table class="table table-borderless" style="width: 40%">
                <tbody>
                    <tr>
                        <td>Trainer:</td>
                        <td>@Model.TrainerFirstName @Model.TrainerLastName</td>
                    </tr>
                    <tr>
                        <td>Gym:</td>
                        <td>@Model.GymName</td>
                    </tr>
                    <tr>
                        <td>Class:</td>
                        <td>@Model.GroupClassName</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered" style="width: 100%">
            <thead>
                <tr>
                    @foreach (var day in Enum.GetNames(typeof(DayOfWeek)))
                    {
                        <th style="width:14%">@day</th>
                    }
                </tr>
            </thead>
            <tbody>
            @{ var currentDay = DateTime.Today;}
            @for (int j = 0; j < 5; j++)
            {
                <tr>
                    @for (int i = 0; i < 7; i++)
                    {
                        currentDay = currentDay.AddDays(1);
                        var tempDate = currentDay;
                        @if (Model.DailyInfo.Select(x => x.Date.Date).Contains(currentDay.Date))
                        {
                            <td>
                                @await Component.InvokeAsync("GroupClassesPerDayOnScheduleCalendar", @Model.DailyInfo.Where(x=>x.Date.Date == tempDate.Date).ToList())
                            </td>
                        }
                        else
                        {
                            <td>
                               @tempDate.ToString("MM/dd/yyyy")
                            </td>
                        }
                       
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>