@model FitMeApp.WEB.Contracts.ViewModels.SetCroupClassScheduleViewModel

<div class="container" style="text-align:center">
    <div class="row">
        <div class=" col-md-2">

        </div>
        <div class="col-md-8" style="text-align: center">
            <div class="card" style="margin: 20px">
                <form asp-controller="GroupClasses" asp-action="SetGroupClassesSchedule" method="post">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="card-text small text-danger"></div>

                        <h4 class="card-title text-center">New group class appointment</h4>
                        <h5 class="card-title text-center">
                            <input id="trainerId" type="hidden" asp-for="TrainerId" value="@Model.TrainerId" />
                            Gym: @Model.GymName
                            <input type="hidden" asp-for="GymId" value="@Model.GymId" />
                            <input type="hidden" asp-for="GymName" value="@Model.GymName" />
                        </h5>
                        <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <p class="card-text">
                                    Group class
                                </p>
                            </div>
                            <div class="col-md-8">
                                <select class="form-select" aria-label="Default select example" id="groupClassSelect" asp-for="SelectedGroupClassId">
                                    @foreach (var groupClass in Model.GroupClasses)
                                    {
                                        <option value="@groupClass.Id">@groupClass.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-md-4">
                                <p class="card-text">
                                    Select date
                                </p>
                            </div>
                            <div class="col-md-8">
                                @{
                                    string minDate = DateTime.Today.AddDays(1).Date.ToString("yyyy-MM-dd");
                                    string maxDate = DateTime.Today.AddDays(31).Date.ToString("yyyy-MM-dd");}
                                <input id="selectDate" type="date" asp-for="Dates" min="@minDate" max="@maxDate" value="@minDate" style="margin: 0px 0px 8px" />
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-md-4">
                                <p class="card-text">
                                    Select time
                                </p>
                            </div>
                            <div class="col-md-8">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="startTimeSelect" asp-for="StartTime"></select>
                                <div id="errorBlock" class="card-text small text-danger"></div>
                                <span asp-validation-for="StartTime" class="card-text small"></span>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-md-4">
                                <p class="card-text">
                                    Select duration of training
                                </p>
                            </div>
                            <div class="col-md-8">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example" asp-for="DurationInMinutes">
                                    <option value="60">60 min</option>
                                    <option value="90">90 min</option>
                                </select>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-md-4">
                                <p class="card-text">
                                    Participants limit
                                </p>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" type="text" placeholder="Count of people" aria-label="default input example" asp-for="ParticipantsLimit">
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-md-4">
                                <p class="card-text">
                                    Duplicate for a month
                                </p>
                            </div>
                            <div class="col-md-8">
                                <div class="form-check">
                                    @foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
                                    {
                                        if (Model.WorkDaysOfWeek.Contains((DayOfWeek)day))
                                        {
                                            <input class="form-check-input" type="checkbox" value="@day.ToString()" id="dayOfWeek">
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="checkbox" value="" id="dayOfWeek" disabled>
                                        }
                                        <label class="form-check-label" for="dayOfWeek">
                                            @day.ToString()
                                        </label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Schedule" asp-action="Index" class="btn btn-dark" style="width: 30%">Cancel</a>
                        <input type="submit" value="Ok" class="btn btn-dark" />
                    </div>

                </form>

            </div>
        </div>
        <div class=" col-md-2">

        </div>
    </div>
</div>


<script>
    document.getElementById("selectDate").addEventListener("change",
        function (e) {
            var selectedDate = document.getElementById("selectDate").value;
            var trainerId = document.getElementById("trainerId").value;
            $.post(`https://localhost:44384/api/getavailabletime`,
                    {
                        trainerId: trainerId,
                        selectedDate: selectedDate
                    })
                .done(function (data) {
                    if (data.length != 0) {
                        var html = '';
                        for (var i = 0; i < data.length; i++) {
                            if (i == 0) {
                                html += "<option selected value=" + data[i] + ">" + data[i] + "</option>";
                            }
                            html += "<option value=" + data[i] + ">" + data[i] + "</option>";
                        }
                        document.getElementById("startTimeSelect").innerHTML = html;
                        document.getElementById("errorBlock").innerText = "";
                    } else {
                        document.getElementById("startTimeSelect").innerHTML = '';
                        document.getElementById("errorBlock").innerText = "The selected day is dayOff for a current trainer. Please, select another date";
                    }
                });
        });
</script>