@using System.Security.AccessControl
@using FitMeApp.Common
@model FitMeApp.WEB.Contracts.ViewModels.AnthropometricInfoViewModel

@{
    ViewData["Title"] = "Welcome to diet plan";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="/Content/images/healthyFood3.jpg" style="width: 100%; height: auto" />
        </div>
        <div class="col-md-8">
            <div class="container">
                <div class="row" style="padding: 10px; text-align: center">
                    <h3>My anthropometric data</h3>
                </div>
                <form asp-action="AnthropometricInfo" asp-controller="Diet" method="post">
                    <div class="row">
                        <div class="col-md-5">
                            <table class="table table-borderless">
                                <tr>
                                    <td class="anthropometric-form-col1">
                                        <label asp-for="Height"></label>
                                    </td>
                                    <td class="anthropometric-form-col1">
                                        <input class="form-control" asp-for="Height" />
                                        <span asp-validation-for="Height"></span>
                                    </td>
                                    <td class="anthropometric-form-col2">sm</td>
                                </tr>

                                <tr>
                                    <td class="anthropometric-form-col1">
                                        <label asp-for="Weight"></label>
                                    </td>
                                    <td class="anthropometric-form-col1">
                                        <input class="form-control" asp-for="Weight" />
                                        <span asp-validation-for="Weight"></span>
                                    </td>
                                    <td class="anthropometric-form-col2">kg</td>
                                </tr>

                                <tr>
                                    <td class="anthropometric-form-col1">
                                        <label asp-for="Age"></label>
                                    </td>
                                    <td class="anthropometric-form-col1">
                                        <input class="form-control" asp-for="Age" />
                                        <span asp-validation-for="Age"></span>
                                    </td>
                                    <td class="anthropometric-form-col2">years</td>
                                </tr>

                                <tr>
                                    <td class="anthropometric-form-col1">
                                        <label asp-for="Gender"></label>
                                    </td>
                                    <td class="anthropometric-form-col1">
                                        <select asp-for="Gender" class="form-select" aria-label="Default select example">
                                            @foreach (var item in Enum.GetValues(typeof(FitMeApp.Common.GenderEnum)))
                                            {
                                                <option value="@item.ToString()">@item.ToString()</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Gender"></span>
                                    </td>
                                    <td class="anthropometric-form-col2"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-7">
                            <table class="table table-borderless">
                                <tr>
                                    <td class="anthropometric-form-col1">
                                        <label asp-for="CurrentCalorieIntake"></label>
                                    </td>
                                    <td class="anthropometric-form-col1">
                                        <input class="form-control" asp-for="CurrentCalorieIntake" />
                                        <span asp-validation-for="CurrentCalorieIntake"></span>
                                    </td>
                                    <td class="anthropometric-form-col2">kkal</td>
                                </tr>

                                <tr>
                                    <td class="anthropometric-form-col1">
                                        <label asp-for="PhysicalActivity"></label>
                                    </td>
                                    <td class="anthropometric-form-col1">
                                        <select asp-for="PhysicalActivity" class="form-select" aria-label="Default select example">
                                            @foreach (var level in Enum.GetValues(typeof(PhysicalActivityEnum)))
                                            {
                                            <option value="@((int)level)">@((int)level)</option>
                                            }
                                        </select>
                                        <span asp-validation-for="PhysicalActivity"></span>
                                    </td>
                                    <td class="anthropometric-form-col2"></td>
                                </tr>

                                <tr>
                                    <td class="anthropometric-form-col1">
                                        <label asp-for="Goal"></label>
                                    </td>
                                    <td class="anthropometric-form-col1">
                                        <select asp-for="Goal" class="form-select" aria-label="Default select example">
                                            @foreach (DietGoalsEnum goal in Enum.GetValues(typeof(DietGoalsEnum)))
                                            {
                                                <option value="@goal.ToString()">@goal.GetDescription()</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Goal"></span>
                                    </td>
                                    <td class="anthropometric-form-col2"></td>
                                </tr>
                            </table>
                        </div>
                        <div style="font-size: smaller; font-style: italic">
                            *The physical activity level is a way to express your daily physical activity as a number
                            from 1 to 5, where 1 - extremely inactive and 5 - extremely active.
                        </div>
                        <div style="text-align: center; margin: 10px">
                            <a asp-action="WelcomeToDietPlan" asp-controller="Diet" class="btn btn-outline-secondary">Back</a>
                            <input type="submit" class="btn btn-dark" value="Next" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

