@model FitMeApp.Models.EditTrainerJobDataModel

<h2>Trainer part registration</h2>
<form method="post" asp-controller="Account" asp-action="RegisterTrainerPart">
    <div asp-validation-summary=" All" class="text-danger"></div>
    @*<div>
            <input type="hidden" asp-for="Id" />
        </div>*@

    <div>
        <label asp-for="GymId">Gym</label><br />
        <select class="form-select" asp-for="GymId">
            @foreach (var gym in ViewBag.Gyms)
            {
                <option value="@gym.Id">@gym.Name</option>
            }
        </select>
    </div>
    <div>
        <label asp-for="Specialization">Specialization</label><br />
        <select class="form-select" asp-for="Specialization">
            @foreach (var specialization in ViewBag.Specializations)
            {
                <option value="@specialization">@specialization</option>
            }
        </select>
    </div>
    <div>
        <label asp-for="TrainingsId">Trainings types</label><br />
        @foreach (var training in ViewBag.Trainings)
        {
            <div class="form-check">
                <input class="form-check-input" name="TrainingsId" type="checkbox" value="@training.Id" id="@training.Id" multiple>
                <label class="form-check-label" for="@training.Id">
                    @training.Name
                </label>
            </div>
        }
    </div>

    <div>
        <input type="submit" value="Apply for a Trainer Role" />
    </div>
</form>