@model FitMeApp.WEB.Contracts.ViewModels.ChatMessageViewModel

@if (ViewBag.UserId == Model.ReceiverId)
{
    <tr>
        <th style="background-color: lightsteelblue">
            <div>
                @ViewBag.SenderName
            </div>
        </th>
        <td style="background-color: lightsteelblue">
            <div style="font-size: 11pt;">
                <div style="font-size: 100%; text-align: left"> @Model.Message</div>
                <div style="font-size: 60%; color: gray; text-align: left">@Model.Date</div>
            </div>
        </td>
        <td></td>
    </tr>
}
else
{
    <tr>
        <td></td>
        <td style="background-color: bisque">
            <div style="font-size: 11pt; background-color: bisque">
                <div style="font-size: 100%; text-align: right"> @Model.Message</div>
                <div style="font-size: 60%; color: gray; text-align: right">@Model.Date</div>
            </div>
        </td>
        <th style="background-color: bisque">
            <div>
                @ViewBag.SenderName
            </div>
        </th>
    </tr>
}
