@model FitMeApp.Models.EditTrainerJobDataModel

<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" style="border-left:solid; border-right:solid">
            <div style="text-align:center; margin:20px">
              

                <form asp-action="EditTrainerJobData" asp-controller="Profile" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />                  

                    <table style="width:80%; margin:auto">
                       
                        <tr>
                            <td class="col3">Gym</td>
                            <td class="col4">
                                <input type="hidden" asp-for="GymId" />
                                <input type="hidden" asp-for="GymName" />
                                @Model.GymName
                            </td>
                        </tr>
                        <tr>
                            <td class="col3">Specialization</td>
                            <td class="col4">
                                <input type="text" asp-for="Specialization" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col3">Trainings</td>
                            <td class="col4">
                               
                                @if (ViewBag.ActualEventsCount > 0 || ViewBag.ActualSubscriptionsCount > 0)
                                {
                                    <div style="font-size:smaller; color:red">You can't change this option while you have actual events or users subdcriptions</div>
                                    @foreach (var trainingId in Model.TrainingsId)
                                    {
                                        @*<input type="checkbox" name="TrainingsId" value="@trainingId"
                                               @(trainingsId.Contains(training.Id) ? "checked=\"checked\"" : "") hidden />*@
                                        <input type="checkbox" name="TrainingsId" value="@trainingId" checked="checked" hidden />
                                    }
                                }
                                else
                                {
                                    @foreach (var training in ViewBag.AllTrainings)
                                    {
                                        <input type="checkbox" name="TrainingsId" value="@training.Id"
                                               @(Model.TrainingsId.Contains(training.Id) ? "checked=\"checked\"" : "") />@training.Name <br />
                                        }
                                }

                            </td>
                        </tr>
                    </table>
                    <br />
                    <input type="submit" value="Save" class="btn btn-outline-secondary" style="width:30%"/>
                    <a asp-controller="Profile" asp-action="TrainerPersonalAndJobData" class="btn btn-dark" style="width:30%">Back</a>
                </form>
            </div>
        </div>
        <div class="col-md-3">

        </div>

    </div>

</div>
