@model List<FitMeApp.WEB.Contracts.ViewModels.TrainerWorkHoursViewModel>

<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" style="border-left:solid; border-right:solid">
            <div style="text-align:center; margin:20px">
                <label><b>Work hours</b></label>
                <form action="EditTrainerWorkHours" method="post">
                    <table style="width: 80%; margin: auto">
                        @{List<string> workDays = Model.Select(x => x.DayName.ToString()).ToList(); }
                        @for (int i = 0; i < 7; i++)
                        {

                            <tr>
                                <td class="col3">@((DayOfWeek)i)</td>


                                @if (workDays.Contains(((DayOfWeek)i).ToString()))
                                {
                                    @for (int j = 0; j < Model.Count(); j++)
                                    {
                                        @if (Model[j].DayName == (DayOfWeek)i)
                                        {

                                            <td class="col4">
                                                <select class="form-select" aria-label="Default select example" asp-for="@Model[j].StartTime">
                                                    @for (int t = 0; t < 24; t++)
                                                    {
                                                        if (Model[j].StartTime == (t + ".00"))
                                                        {
                                                            <option value="@Model[j].StartTime" selected>@Model[j].StartTime</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@(t+".00")">@(t+".00")</option>
                                                        }

                                                        if (Model[j].StartTime == (t + ".30"))
                                                        {
                                                            <option value="@Model[j].StartTime" selected>@Model[j].StartTime</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@(t+".30")">@(t+".30")</option>
                                                        }

                                                    }
                                                </select>

                                                <input type="hidden" asp-for="@Model[j].Id" />
                                                <input type="hidden" asp-for="@Model[j].GymWorkHoursId" />
                                                <input type="hidden" asp-for="@Model[j].DayName" />
                                                @*<input type="text" asp-for="@Model[j].StartTime" class="form-control" />*@
                                            </td>
                                            <td class="col5">
                                                -
                                            </td>
                                            <td class="col4">

                                                <select class="form-select" aria-label="Default select example" asp-for="@Model[j].EndTime">
                                                    @for (int t = 0; t < 24; t++)
                                                    {
                                                        if (Model[j].EndTime == (t + ".00"))
                                                        {
                                                            <option value="@Model[j].EndTime" selected>@Model[j].EndTime</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@(t+".00")">@(t+".00")</option>
                                                        }

                                                        if (Model[j].EndTime == (t + ".30"))
                                                        {
                                                            <option value="@Model[j].EndTime" selected>@Model[j].EndTime</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@(t+".30")">@(t+".30")</option>
                                                        }

                                                    }
                                                </select>

                                                @*<input type="text" asp-for="@Model[j].EndTime" class="form-control" />*@
                                            </td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td class="col4">
                                        @{FitMeApp.WEB.Contracts.ViewModels.TrainerWorkHoursViewModel newItem = new FitMeApp.WEB.Contracts.ViewModels.TrainerWorkHoursViewModel();
                                            Model.Add(newItem);
                                            int index = Model.IndexOf(newItem);
                                            Model[index].DayName = (DayOfWeek)i;}
                                        <input type="hidden" asp-for="@Model[index].DayName" />
                                        <select class="form-select" aria-label="Default select example" asp-for="@Model[index].StartTime">
                                            @for (int t = 0; t < 24; t++)
                                            {
                                                <option value="@(t+".00")">@(t+".00")</option>
                                                <option value="@(t+".30")">@(t+".30")</option>
                                            }
                                        </select>

                                        @*<input type="text" asp-for="@Model[index].StartTime" class="form-control" />*@
                                    </td>
                                    <td class="col5">-</td>
                                    <td class="col4">
                                        <select class="form-select" aria-label="Default select example" asp-for="@Model[index].EndTime">
                                            @for (int t = 0; t < 24; t++)
                                            {
                                                <option value="@(t+".00")">@(t+".00")</option>
                                                <option value="@(t+".30")">@(t+".30")</option>
                                            }
                                        </select>
                                        @*<input type="text" asp-for="@Model[index].EndTime" class="form-control" />*@
                                    </td>



                                }

                            </tr>
                        }
                    </table>

                    <input type="submit" value="Save" class="btn btn-outline-secondary" />



                </form>


                @*<a asp-controller="Profile" asp-action="EditTrainerJobData"  class="btn btn-dark" style="width:40%">Edit work hours</a>*@

            </div>
        </div>
        <div class="col-md-3">

        </div>

    </div>

</div>

