@model List<FitMeApp.WEB.Contracts.ViewModels.TrainerWorkHoursViewModel>

<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" style="border-left:solid; border-right:solid">
            <div style="text-align:center; margin:20px">
                <label><b>Work hours</b></label>
                <form action="EditTrainerWorkHours" method="post">
                    <div asp-validation-summary="All" style="color:red"></div>
                    <table style="width: 80%; margin: auto">
                        @{List<string> workDays = Model.Select(x => x.DayName.ToString()).ToList(); }
                        @for (int i = 0; i < 7; i++)
                        {
                            <tr>
                                <td class="col3">@((DayOfWeek)i)</td>

                                @if (workDays.Contains(((DayOfWeek)i).ToString()))
                                {
                                    <td class="col4">
                                        <select class="form-select" aria-label="Default select example" asp-for="@Model[i].StartTime">
                                            @for (int t = 0; t < 24; t++)
                                            {                                                
                                                if (Model.Where(x => x.DayName == (DayOfWeek)i).First().StartTime == (t + ".00"))
                                                {
                                                    <option value="@Model[i].StartTime" selected>@Model[i].StartTime</option>
                                                }
                                                else
                                                {
                                                    <option value="@(t+".00")">@(t+".00")</option>
                                                }

                                                if (Model.Where(x => x.DayName == (DayOfWeek)i).First().StartTime == (t + ".30"))
                                                {
                                                    <option value="@Model[i].StartTime" selected>@Model[i].StartTime</option>
                                                }
                                                else
                                                {
                                                    <option value="@(t+".30")">@(t+".30")</option>
                                                }

                                            }
                                        </select>
                                        <input type="hidden" asp-for="@Model[i].Id" />
                                        <input type="hidden" asp-for="@Model[i].GymWorkHoursId" />
                                        <input type="hidden" asp-for="@Model[i].DayName" />
                                    </td>
                                    <td class="col5">
                                        -
                                    </td>
                                    <td class="col4">
                                        <select class="form-select" aria-label="Default select example" asp-for="@Model[i].EndTime">
                                            @for (int t = 0; t < 24; t++)
                                            {
                                                if (Model.Where(x => x.DayName == (DayOfWeek)i).First().EndTime == (t + ".00"))
                                                {
                                                    <option value="@Model[i].EndTime" selected>@Model[i].EndTime</option>
                                                }
                                                else
                                                {
                                                    <option value="@(t+".00")">@(t+".00")</option>
                                                }

                                                if (Model.Where(x => x.DayName == (DayOfWeek)i).First().EndTime == (t + ".30"))
                                                {
                                                    <option value="@Model[i].EndTime" selected>@Model[i].EndTime</option>
                                                }
                                                else
                                                {
                                                    <option value="@(t+".30")">@(t+".30")</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                }                                
                                else
                                {
                                <td class="col4">
                                    @{FitMeApp.WEB.Contracts.ViewModels.TrainerWorkHoursViewModel newItem = new FitMeApp.WEB.Contracts.ViewModels.TrainerWorkHoursViewModel();
                                        Model.Add(newItem);                                        
                                        Model[i].DayName = (DayOfWeek)i;}
                                    <input type="hidden" asp-for="@Model[i].DayName" />
                                    <select class="form-select" aria-label="Default select example" asp-for="@Model[i].StartTime">
                                        @for (int t = 0; t < 24; t++)
                                        {
                                            <option value="@(t+".00")">@(t+".00")</option>
                                            <option value="@(t+".30")">@(t+".30")</option>
                                        }
                                    </select>
                                </td>
                                <td class="col5">-</td>
                                <td class="col4">
                                    <select class="form-select" aria-label="Default select example" asp-for="@Model[i].EndTime">
                                        @for (int t = 0; t < 24; t++)
                                        {
                                            <option value="@(t+".00")">@(t+".00")</option>
                                            <option value="@(t+".30")">@(t+".30")</option>
                                        }
                                    </select>
                                </td>
                                }
                            </tr>
                        }
                    </table>
                    <br />

                    <input type="submit" value="Save" class="btn btn-outline-secondary" style="width:30%" />
                    <a asp-controller="Profile" asp-action="TrainerPersonalAndJobData" class="btn btn-dark" style="width:30%">Back</a>
                </form>

            </div>
        </div>
        <div class="col-md-3">

        </div>

    </div>

</div>





