@model IEnumerable<FitMeApp.WEB.Contracts.ViewModels.TrainerApplicationViewModel>

@{
    ViewBag.Title = "List of Trainer applications";
}

<br/>
<ul class="nav nav-tabs">
    <li class="nav-item" style="margin: 10px">
        <a  asp-action="TrainerApplicationsList" asp-controller="Profile" asp-route-showOnlyToUpdateLicenseList="@false" class="btn btn-outline-dark position-relative">
            New applications
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                @ViewBag.NewAppCount
            </span>
        </a>
    </li>
    <li class="nav-item" style="margin: 10px">
        <a  asp-action="TrainerApplicationsList" asp-controller="Profile" asp-route-showOnlyToUpdateLicenseList="@true" class="btn btn-outline-dark position-relative">
            Apply to update
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                @ViewBag.AppToUpdateLicensesCount
            </span>
        </a>
    </li>
</ul>

<div class="container">
    <div>
        <h3> Trainer applications</h3>
    </div>
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>User Name</th>>
            <th>Gym</th>
            <th>Subscription</th>
            <th>Contract</th>
            <th>Start</th>
            <th>Expire</th>
            <th>Applying</th>
            <th></th>
        </tr>
        @{ int rowNumber = 0;}
        @foreach (var application in Model)
        {
            rowNumber++;

            <tr>
                <td>@rowNumber</td>
                <td>@application.UserFirstName @application.UserLastName</td>
                <td>@application.GymName</td>

                <td>
                    @if (application.SubscriptionId != 0)
                    {
                        <img src="/Content/images/yes.jpg" class="card-img-top" alt="..." style="height: 25px; width: auto" />
                    }
                    else
                    {
                        <img src="/Content/images/no.jpg" class="card-img-top" alt="..." style="height: 25px; width: auto" />
                    }
                </td>
                @if (application.ContractNumber != null)
                {
                    @*<td>
                            <img src="/Content/images/yes.jpg" class="card-img-top" alt="..." style="height: 25px; width: auto" />
                        </td>*@
                    <td>
                        @application.ContractNumber
                    </td>
                }
                else
                {
                    @*<td>
                            <img src="/Content/images/no.jpg" class="card-img-top" alt="..." style="height: 25px; width: auto" />
                        </td>*@
                    <td></td>
                }
                <td>@application.StartDate.ToString("MM/dd/yyyy")</td>
                <td>@application.EndDate.ToString("MM/dd/yyyy")</td>
                <td>@application.ApplyingDate.ToString("MM/dd/yyyy")</td>
                <td>
                    <div style="text-align:center">
                        <a asp-controller="Profile" asp-action="ApproveTrainerApplication" asp-route-trainerId="@application.UserId" class="btn btn-success btn-sm">Approve</a>
                        <a asp-controller="Profile" asp-action="RejectTrainerApplication" asp-route-applicationId="@application.Id" asp-route-userId="@application.UserId" class="btn btn-danger btn-sm">Reject</a>
                    </div>
                </td>
            </tr>
        }
    </table>

</div>


