@model FitMeApp.WEB.Contracts.ViewModels.TrainerViewModel

<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" style="border-left:solid; border-right:solid">
            <div style="text-align:center; margin:20px">
                @{ string imageParth = "/Content/Trainers/" + Model.Picture;}
                <img src="@imageParth" alt="trainerImage" style="height:200px; width:auto" />

                <label>Name</label>
                <h5><b>@Model.FirstName @Model.LastName</b></h5>

                <label>Gym</label>
                <h6><b>@Model.Gym.Name</b></h6>

                <label>Specialization</label>
                <h6><b>@Model.Specialization</b></h6>

                <label>Trainings</label>
                <ul>
                    @foreach (var training in Model.Trainings)
                    {
                        <li>@training.Name</li>
                    }
                </ul>

                <label>Work hours</label>
                <table>
                   
                    @for (int i = 0; i < 7; i++)
                    {
                    <tr>
                        <td>@((DayOfWeek)i)</td>
                        @foreach (var day in ViewBag.WorkHours)
                        {
                            if (day.DayName == (DayOfWeek)i)
                            {
                                <td></td>
                            }

                        }

                    </tr>
                    }

                </table>
                   
                  


                <a asp-controller="Profile" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark" style="width:40%">Edit</a>
                <a asp-controller="Profile" asp-action="ChangePassword" asp-route-id="@Model.Id" class="btn btn-dark" style="width:40%">Change Password</a>
            </div>
        </div>
        <div class="col-md-3">

        </div>

    </div>

</div>
