@*@addTagHelper*, FitMeApp*@
@model FitMeApp.WEB.Contracts.ViewModels.TrainerViewModel

<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" style="border-left:solid; border-right:solid">
            <div style="text-align:center; margin:20px">
                @{ string imageParth = "/Content/Trainers/" + Model.Picture;}
                <img src="@imageParth" alt="trainerImage" style="height:200px; width:auto; margin:10px" />

                <table style="width:60%; margin:auto">
                    <tr>
                        <td class="col3">Name</td>
                        <td class="col4">@Model.FirstName @Model.LastName</td>
                    </tr>
                    <tr>
                        <td class="col3">Gender</td>
                        <td class="col4">@Model.Gender</td>
                    </tr>
                    <tr>
                        <td class="col3">Gym</td>
                        <td class="col4">@Model.Gym.Name</td>
                    </tr>
                    <tr>
                        <td class="col3">Specialization</td>
                        <td class="col4">@Model.Specialization</td>
                    </tr>
                    <tr>
                        <td class="col3">Trainings</td>
                        <td class="col4">

                            @foreach (var training in Model.Trainings.OrderBy(x => x.Id))
                            {
                                @training.Name
                                <br />
                            }

                        </td>
                    </tr>
                </table>
                <a asp-controller="Profile" asp-action="EditTrainerJobData" asp-route-trainerId="@Model.Id" class="btn btn-dark" style="width:40%">Edit</a>

                <hr />

                <label><b>Work hours</b></label>
                <table style="width: 60%; margin: auto">
                    @{List<string> workDays = ViewBag.WorkDays; }
                    @for (int i = 0; i < 7; i++)
                    {
                        <tr>
                            <td class="col3">@((DayOfWeek)i)</td>
                            @if (workDays.Contains(((DayOfWeek)i).ToString()))
                            {
                        <td class="col4">
                            @ViewBag.StartHours[(DayOfWeek)i] - @ViewBag.EndHours[(DayOfWeek)i]
                            @*@await Component.InvokeAsync("TrainerWorkHours", new { startTime = ViewBag.StartHours[(DayOfWeek)i], endTime = ViewBag.EndHours[(DayOfWeek)i] })*@
                        </td>
                            }
                            else
                            {
                                <td class="col4"> - </td>
                            }
                        </tr>
                    }
                </table>

                <a asp-controller="Profile" asp-action="EditTrainerWorkHours" class="btn btn-dark" style="width:40%">Edit work hours</a>

            </div>
        </div>
        <div class="col-md-3">

        </div>

    </div>

</div>
