@addTagHelper*, FitMeApp
@model FitMeApp.WEB.Contracts.ViewModels.TrainerViewModel

<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8" style="border: solid; border-color: gray">
            <br />
            <div class=" container">
                <div class="row">
                    <div class="col-md-4">
                        @{ string imagePath = "/Content/images/" + Model.AvatarPath;}
                        <img src="@imagePath" alt="trainerImage" style="height:220px; width:auto; margin:10px" />
                    </div>
                    <div class="col-md-8" style="align-content:center">

                        <table style="width:100%; margin:auto">
                            <tr>
                                <td class="col3">First Name</td>
                                <td class="col4">@Model.FirstName</td>
                            </tr>
                            <tr>
                                <td class="col3">Last Name</td>
                                <td class="col4">@Model.LastName</td>
                            </tr>
                            <tr>
                                <td class="col3">Email</td>
                                <td class="col4">@Model.Email</td>
                            </tr>
                            <tr>
                                <td class="col3">Phone</td>
                                <td class="col4">@Model.Phone</td>
                            </tr>
                            <tr>
                                <td class="col3">Gender</td>
                                <td class="col4">@Model.Gender</td>
                            </tr>
                            <tr>
                                <td class="col3">Year</td>
                                <td class="col4">@Model.Year</td>
                            </tr>
                        </table>

                        <a asp-controller="Profile" asp-action="EditPersonalData" asp-route-id="@Model.Id" class="btn btn-dark" style="width:40%">Edit personal data</a>
                        <a asp-controller="Profile" asp-action="ChangePassword" asp-route-id="@Model.Id" class="btn btn-dark" style="width:40%">Change Password</a>
                        <hr />

                        <table style="width:100%; margin:auto">
                            <tr>
                                <td class="col3">Gym</td>
                                <td class="col4">@Model.Gym.Name</td>
                            </tr>
                            <tr>
                                <td class="col3">Specialization</td>
                                <td class="col4">@Model.Specialization</td>
                            </tr>
                            <tr>
                                <td class="col3">Trainings</td>
                                <td class="col4">

                                    @foreach (var training in Model.Trainings.OrderBy(x => x.Id))
                                    {
                                        @training.Name
                                        <br />
                                    }

                                </td>
                            </tr>
                        </table>
                        @if (ViewBag.ActualEventsCount > 0)
                        {
                            <a asp-controller="Profile" asp-action="EditTrainerJobData" asp-route-trainerId="@Model.Id" class="btn btn-dark disabled" aria-disabled="True" style="width:40%">Edit job data*</a>
                            <h6 style="font-size: x-small; font-style: italic; margin-top: 5px">*The option is available only if there are no actual classes.</h6>
                        }
                        else
                        {
                            <a asp-controller="Profile" asp-action="EditTrainerJobData" asp-route-trainerId="@Model.Id" class="btn btn-dark disabled" aria-disabled="False" style="width:40%">Edit job data</a>
                        }
                    </div>
                </div>

            </div>
            <div style="text-align:center; align-content: center; margin:20px">
                <hr />
                <label><b>Work hours</b></label>
                
                <div class="container">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            @await Component.InvokeAsync("TrainerWorkHours", new {trainerId = Model.Id})
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <br/>
                <a asp-controller="Profile" asp-action="EditTrainerWorkHours" class="btn btn-dark" style="width:40%">Edit work hours</a>
            </div>
        </div>
        <div class="col-md-2">

        </div>

    </div>

</div>
