@using FitMeApp.Common
@using System.Linq
@model IEnumerable<FitMeApp.Common.User>

@{
    ViewBag.Title = "List of Users";
}

<div class=" container">
    <div class="row">
        <div class="col-md-8">
            <div class="card card-body">
                <form asp-controller="Profile" asp-action="UsersList" method="post">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div> Show only:</div>
                                @foreach (var roleName in ViewBag.RoleNames)
                                {
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" name="selectedRolesNames" type="checkbox" value="@roleName" id="@roleName">
                                        <label class="form-check-label" for="@roleName">
                                            @roleName
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div>
                            <input type="submit" value="Show" class="btn btn-dark" />
                            <a asp-controller="Profile" asp-action="UsersList" class="btn btn-dark">Clean filter</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            @{ string disabled = Model.Any()? "" : "disabled";}
            <form asp-controller="Profile" asp-action="DownloadUsersListExcelFile" method="post">
                <div style="padding: 20px 10px">
                    @foreach (var user in Model)
                    {
                        <input name="selectedIds" type="hidden" value="@user.Id">
                    }
                    <input type="submit" value="Download Excel" @disabled class="btn btn-primary"/>
                </div>
            </form>

        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Year</th>
        <th>Gender</th>
        <th></th>
    </tr>
    @{ int counter = 0;}
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @{ counter++;}
                @counter
            </td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>@user.Year</td>
            <td>@user.Gender</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="EditPersonalData" asp-route-id="@user.Id">Edit</a>
                    <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Change password</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>           
        </tr>
    }
</table>

