@model IEnumerable<FitMeApp.WEB.Contracts.ViewModels.UserSubscriptionViewModel>

<title>User subscriptions</title>

<div>
    <h3>
        Your subscriptions
    </h3>
</div>
<hr />
<div>
    <p>
        <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filters
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form asp-controller="Profile" asp-action="UserSubscriptions" method="post">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p style="font-weight: bold">
                                Available status
                            </p>
                            <div class="form-check">
                                <input class="form-check-input" name="validStatuses" type="checkbox" value="@FitMeApp.Common.SubscriptionValidStatusEnum.validNow" id="validNow">
                                <label class="form-check-label" for="validNow">
                                    valid now
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="validStatuses" type="checkbox" value="@FitMeApp.Common.SubscriptionValidStatusEnum.validInTheFuture" id="validInTheFuture">
                                <label class="form-check-label" for="validInTheFuture">
                                    valid in the future
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="validStatuses" type="checkbox" value="@FitMeApp.Common.SubscriptionValidStatusEnum.expired" id="expired">
                                <label class="form-check-label" for="expired">
                                    expired
                                </label>
                            </div>
                        </div>
                        @{ var gyms = ViewBag.Gyms;}
                        <div class="col-md-4">
                            <p style="font-weight: bold">
                                Gyms
                            </p>
                            @foreach (var gym in gyms)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="gymIds" value="@gym.Id" id="@gym.Id">
                                    <label class="form-check-label" for="@gym.Id">
                                        @gym.Name
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="OK" class="btn btn-dark" />
                        <a asp-controller="Profile" asp-action="UserSubscriptions" class="btn btn-dark">Clear filters</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="text-align:center">
        @foreach (var subscription in Model)
        {

            <div class="card border-dark mb-3" style="width: 28%; margin: 20px">
                @if (subscription.WorkAsTrainer)
                {
                    <div style="padding: 10px">
                        <h3 style="font-weight: bold"> Trainer </h3>
                        <h5 style="font-weight: bold"> subscription </h5>
                    </div>
                }
                else
                {
                    <div style="padding: 10px">
                        <h3 style="font-weight: bold"> Visitor </h3>
                        <h5 style="font-weight: bold"> subscription </h5>
                    </div>
                }
                <div class="card-body" style="text-align: center; padding: 10px">
                    <table class="table">
                        <tr>
                            <td style="font-style: italic; text-align: left">Gym:</td>
                            <td>
                                <p style="font-weight: bold; margin-bottom: 0">@subscription.GymName</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-style: italic; text-align: left">Start:</td>
                            <td>@subscription.StartDate.ToString("dd MMMM yyyy")</td>
                        </tr>
                        <tr>
                            <td style="font-style: italic; text-align: left">End:</td>
                            <td>@subscription.EndDate.ToString("dd MMMM yyyy")</td>
                        </tr>
                        <tr>
                            <td style="font-style: italic; text-align: left">Group training:</td>
                            <td>
                                @if (subscription.GroupTraining)
                                {
                                    <img src="/Content/images/yes.jpg" style="height: 25px" />
                                }
                                else
                                {
                                    <img src="/Content/images/no.jpg" style="height: 25px" />
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="font-style: italic; text-align: left">Diet monitoring:</td>
                            <td>
                                @if (subscription.DietMonitoring)
                                {
                                    <img src="/Content/images/yes.jpg" style="height: 25px" />
                                }
                                else
                                {
                                    <img src="/Content/images/no.jpg" style="height: 25px" />
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="font-style: italic; text-align: left">Price:</td>
                            <td>
                                @subscription.Price $
                            </td>
                        </tr>
                    </table>
                    <div class="card-footer">
                        @if (subscription.StartDate <= DateTime.Today && subscription.EndDate >= DateTime.Today)
                        {
                            <div>
                                <h4 style="font-weight: bold; color: green">Valid</h4>
                            </div>
                        }

                        @if (subscription.StartDate < DateTime.Today && subscription.EndDate < DateTime.Today)
                        {
                            <div>
                                <h4 style="font-weight: bold; color: red">Expired</h4>
                            </div>
                        }

                        @if (subscription.StartDate > DateTime.Today && subscription.EndDate > DateTime.Today)
                        {
                            <div>
                                <h4 style="font-weight: bold; color: lightskyblue">Starts later</h4>
                            </div>
                        }
                    </div>
                </div>
            </div>

        }

    </div>

</div>