@model FitMeApp.WEB.Contracts.ViewModels.ProductNutrientsViewModel

<div>
    @Model.Name
    <br />
    @Model.Calorie
    <br />
    @Model.Protein
    <br />
    @Model.Fat
    <br />
    @Model.Carbohydrates
</div>
