@*@model IEnumerable<FitMeApp.WEB.Contracts.ViewModels.Schedule.MonthViewModel>*@

@{
    Layout = null;
}

<div class="container" style="width:400px;border:solid; border-color:lightgray">

    <div class="row">
        <div class="col-md-12" style="text-align:center">
            @*@{string currentMonth = Model.Where(x => x.Id == DateTime.Today.Month).ToList().First().Name;}
            @currentMonth*@
            @{ string monthName =  DateTime.Today.Month.ToString();}
            <div style="font-size:large">
                @ViewBag.MonthName
            </div>           
        </div> 
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    @foreach (var dayName in ViewBag.DaysOfWeek)
                    {
                        <th scope="col" id="@dayName">@dayName</th>
                    }
                </tr>
            </thead>
            <tbody>

                <tr>
                    @{int firstday = ((int)new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).DayOfWeek);
                        int daysInMonth = DateTime.DaysInMonth(DateTime.Today.Year, DateTime.Today.Month);
                        int date = 1;
                    }
                    @for (int i = 0; i < 7; i++)
                    {
                        if (firstday == i)
                        {
                            <td id="1_@i">@date</td>
                            ++date;

                            for (int j = i + 1; j < 7; j++)
                            {
                                <td id="1_@j">@date</td>
                                ++date;
                            }
                            i = 7;
                        }
                        else
                        {
                            <td id="1_@i"></td>
                        }
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 7; i++)
                    {
                        <td id="2_@i">@date</td>
                        ++date;
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 7; i++)
                    {
                        <td id="3_@i">@date</td>
                        ++date;
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 7; i++)
                    {
                        <td id="4_@i">@date</td>
                        ++date;
                    }
                </tr>
                <tr>
                    @for (int i = date; i <= daysInMonth; i++)
                    {
                        <td id="5_@i">@date</td>
                        ++date;
                    }                   
                </tr>               
            </tbody>
            </table>
    </div>
</div>










@*@model IEnumerable<FitMeApp.WEB.Contracts.ViewModels.Schedule.MonthViewModel>

    @{
        Layout = null;
    }

    <div class="container" style="width:400px;border:solid; border-color:lightgray">
        <div id="calendarCarousel" class="carousel carousel-dark slide" data-bs-touch="false" data-bs-interval="false">
            <div class="row">
                <div class="col-md-2">
                    <button class="carousel-control-prev" type="button" data-bs-target="#calendarCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                </div>
                <div class="col-md-8" style="text-align:center">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            @{string currentMonth = Model.Where(x => x.Id == DateTime.Today.Month).ToList().First().Name;}
                            @currentMonth
                        </div>
                        @foreach (var month in Model)
                        {
                            <div class="carousel-item">
                                @month.Name
                            </div>
                        }
                    </div>
                </div>

                <div class="col-md-2">
                    <button class="carousel-control-next" type="button" data-bs-target="#calendarCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            @foreach (var dayName in ViewBag.DaysOfWeek)
                            {
                                <th scope="col" id="@dayName">@dayName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>*@
