@model IDictionary<string, int>

@{
    Layout = null;
}

<div class="container" style="width:100%;border:solid; border-color:lightgray">

    <div class="row">
        <div class="col-md-2" style="text-align:center">
            @{ int previousYear = Model["year"] - 1;}
            <a asp-controller="Schedule" asp-action="CalendarCarousel" asp-route-year="@previousYear" asp-route-month="@Model["month"]" class="btn btn-light">&#60</a>
        </div>
        <div class="col-md-8" style="text-align:center">
            <div id="currentYear" style="font-size:medium">
                @Model["year"]
            </div>
        </div>
        <div class="col-md-2" style="text-align:center">
            @{ int nextYear = Model["year"] + 1;}
            <a asp-controller="Schedule" asp-action="CalendarCarousel" asp-route-year="@nextYear" asp-route-month="@Model["month"]" class="btn btn-light">&#62</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" style="text-align:center">
            @{
                int previousMonth = Model["month"] - 1;
                if (previousMonth <= 0)
                {
                    previousMonth = 12;
                    Model["year"] = previousYear;
                };
            }
            <a asp-controller="Schedule" asp-action="CalendarCarousel" asp-route-year="@Model["year"]" asp-route-month="@previousMonth" class="btn btn-light">&#60</a>
        </div>
        <div class="col-md-8" style="text-align:center">
            <div style="font-size:medium">
                @ViewBag.MonthName
            </div>
        </div>
        <div class="col-md-2" style="text-align:center">
            @{
                int nextMonth = Model["month"] + 1;
                if (nextMonth > 12)
                {
                    nextMonth = 1;
                    Model["year"] = nextYear;
                };
            }
            <a asp-controller="Schedule" asp-action="CalendarCarousel" asp-route-year="@Model["year"]" asp-route-month="@nextMonth" class="btn btn-light">&#62</a>
        </div>
    </div>
    <div class="row">
        <table class="table-sm" style="text-align:center;font-size:small; width:100%">
            <thead>
                <tr>
                    @foreach (var dayName in ViewBag.DaysOfWeek)
                    {
                        <th scope="col" id="@dayName">@dayName</th>
                    }
                </tr>
            </thead>
            <tbody>

                <tr>
                    @{ int firstday = ((int)new DateTime(Model["year"], Model["month"], 1).DayOfWeek);
                        int daysInMonth = DateTime.DaysInMonth(Model["year"], Model["month"]);
                        int date = 1;
                    }
                    @for (int i = 0; i < 7; i++)
                    {
                        if (firstday == i)
                        {
                            @*<td id="1_@i">@date</td>*@
                            <td id="1_@i">
                                <a asp-controller="Schedule" asp-action="ShowEvents" asp-route-year="@Model["year"]" asp-route-month="@Model["month"]" asp-route-day="@date" class="btn btn-light btn-sm">@date</a>
                            </td>
                            ++date;

                            for (int j = i + 1; j < 7; j++)
                            {
                                @*<td id="1_@j">@date</td>*@

                                <td id="1_@j">
                                    <a asp-controller="Schedule" asp-action="ShowEvents" asp-route-year="@Model["year"]" asp-route-month="@Model["month"]" asp-route-day="@date" class="btn btn-light btn-sm">@date</a>
                                </td>
                                ++date;
                            }
                            i = 7;
                        }
                        else
                        {
                            <td id="1_@i"></td>
                        }
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 7; i++)
                    {
                        @*<td id="2_@i">@date</td>*@

                        <td id="2_@i">
                            <a asp-controller="Schedule" asp-action="ShowEvents" asp-route-year="@Model["year"]" asp-route-month="@Model["month"]" asp-route-day="@date" class="btn btn-light btn-sm">@date</a>
                        </td>
                        ++date;
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 7; i++)
                    {
                        @*<td id="3_@i">@date</td>*@
                        <td id="3_@i">
                            <a asp-controller="Schedule" asp-action="ShowEvents" asp-route-year="@Model["year"]" asp-route-month="@Model["month"]" asp-route-day="@date" class="btn btn-light btn-sm">@date</a>
                        </td>
                        ++date;
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 7; i++)
                    {
                        @*<td id="4_@i">@date</td>*@
                        <td id="4_@i">
                            <a asp-controller="Schedule" asp-action="ShowEvents" asp-route-year="@Model["year"]" asp-route-month="@Model["month"]" asp-route-day="@date" class="btn btn-light btn-sm">@date</a>
                        </td>
                        ++date;
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 7 && date <= daysInMonth; i++)
                    {
                        @*<td id="5_@i">@date</td>*@
                        <td id="5_@i">
                            <a asp-controller="Schedule" asp-action="ShowEvents" asp-route-year="@Model["year"]" asp-route-month="@Model["month"]" asp-route-day="@date" class="btn btn-light btn-sm">@date</a>
                        </td>
                        ++date;
                    }
                </tr>
                <tr>
                    @for (int i = 0; date <= daysInMonth; i++)
                    {
                        @*<td id="6_@i">@date</td>*@
                        <td id="6_@i">
                            <a asp-controller="Schedule" asp-action="ShowEvents" asp-route-year="@Model["year"]" asp-route-month="@Model["month"]" asp-route-day="@date" class="btn btn-light btn-sm">@date</a>
                        </td>
                        ++date;
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>







