@model FitMeApp.WEB.Contracts.ViewModels.CurrentDayEventsViewModel
@*PartialView (main page - /Schedule/Index)*@

@{
    Layout = null;
}

<div class="container" style="width:100%; border:solid; border-left-color:gray; border-right-color:gray">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div id="currentYear" style="font-size:medium">
                @Model.Day @Model.MonthName @Model.Year
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div style="font-size:medium">
                @{ string dayName = new DateTime(Model.Year, Model.Month, Model.Day).DayOfWeek.ToString();}
                @dayName
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered" style="text-align:center;font-size:small; width:100%">
            <thead class="table-dark">
                <tr>
                    <th scope="col" colspan="2" width="15%">Time</th>
                    <th scope="col" width="60%">Event</th>
                    <th scope="col" width="20%">Status</th>
                </tr>
            </thead>
            <tbody>
                @{int rowTime = 0;

                    Dictionary<int, int> StartEndEvents = new Dictionary<int, int>();
                    foreach (var item in Model.Events)
                    {
                        StartEndEvents.Add(item.StartTime, item.EndTime);
                    };
                    bool secondPartOfHourDrawn = true;}

                @for (int i = 0; i < 48; i++)
                {
                    @foreach (var eventItem in StartEndEvents)
                    {
                        while (eventItem.Key <= rowTime && eventItem.Value > rowTime)
                        {
                            if (secondPartOfHourDrawn)
                            {
                                <tr>
                                    <td rowspan="2" style="font-size:medium; font:bold" id="(@i)_1">@(i/2)</td>
                                    <td id="(@i)_1_2">00</td>
                                    <td id="(@i)_1_3">Test event 1</td>
                                    <td id="(@i)_1_4">Test status 1</td>
                                </tr>
                                secondPartOfHourDrawn = false;
                                rowTime = rowTime + 30;
                                i++;
                            }
                            else
                            {
                                <tr>
                                    <td id="(@i)_2_2">30</td>
                                    <td id="(@i)_2_3">Test event part 2</td>
                                    <td id="(@i)_2_4">Test status part 2 </td>
                                </tr>
                                secondPartOfHourDrawn = true;
                                i++;
                                rowTime = rowTime + 30;
                            }
                        }

                    }
                    if (secondPartOfHourDrawn)
                    {
                        <tr>
                            <td rowspan="2" style="font-size:medium; font:bold" id="(@i)_1">@(i/2)</td>
                            <td id="(@i)_1_2">00</td>
                            <td id="(@i)_1_3"></td>
                            <td id="(@i)_1_4"></td>
                        </tr>
                        secondPartOfHourDrawn = false;
                        rowTime = rowTime + 30;
                    }
                    else
                    {
                        <tr>
                            <td id="(@i)_2_2">30</td>
                            <td id="(@i)_2_3"></td>
                            <td id="(@i)_2_4"></td>
                        </tr>
                        rowTime = rowTime + 30;
                        secondPartOfHourDrawn = true;
                    }
                }
            </tbody>
        </table>
    </div>
</div>







