@addTagHelper *, FitMeApp
@model FitMeApp.WEB.Contracts.ViewModels.CurrentDayEventsViewModel
@*PartialView (main page - /Schedule/Index)*@

@{
    Layout = null;
}

<div class="container" style="width:100%; border:solid; border-left-color:gray; border-right-color:gray">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div id="currentYear" style="font-size:medium">
                @Model.Day @Model.MonthName @Model.Year
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div style="font-size:medium">
                @{ string dayName = new DateTime(Model.Year, Model.Month, Model.Day).DayOfWeek.ToString();}
                @dayName
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered" style="text-align:center;font-size:small; width:100%">
            <thead class="table-dark">
                <tr>
                    <th scope="col" colspan="2" width="10%">Time</th>
                    <th scope="col" width="50%">Event</th>
                    <th scope="col" width="20%">Status</th>
                    <th scope="col" width="20%"></th>
                </tr>
            </thead>
            <tbody>
                @{int rowTime = 0;
                    bool secondPartOfHourDrawn = true;
                    Dictionary<string, int> startWork = ViewBag.StartWork;
                    Dictionary<string, int> endWork = ViewBag.EndWork;
                    bool isOffTime;
                }

                @for (int i = 0; i < 48; i++)
                {
                    if ((i * 30) < startWork[dayName] || (i * 30) > endWork[dayName])
                    {
                        isOffTime = true;
                    }
                    else
                    {
                        isOffTime = false;
                    }

                    @foreach (var eventItem in Model.Events)
                    {
                        List<int> eventsId = new List<int>();
                        string colorRow = eventItem.TrainingName == "Personal training" ? "table-info" : "table-warning";
                        string changeStatusButtonValue = eventItem.Status == FitMeApp.Common.EventStatusEnum.Open ? "Cancel" : "Confirm";
                        while (eventItem.StartTime <= rowTime && eventItem.EndTime > rowTime)
                        {
                            if (secondPartOfHourDrawn)
                            {
                                if (!eventsId.Contains(eventItem.Id))
                                {
                                    <tr>
                                        <td rowspan="2" style="font-size:medium; font:bold" id="(@i)_1">@(i/2)</td>
                                        <td class="@colorRow" id="(@i)_2">00</td>
                                        <td class="@colorRow" id="(@i)_3">
                                            <span class="text-emphasize">Event:</span> @eventItem.TrainingName&#160
                                            <span class="text-emphasize">Client:</span> @eventItem.UserName&#160
                                        </td>
                                        <td class="@colorRow" id="(@i)_4">@eventItem.Status</td>

                                        <td class="@colorRow" id="(@i)_5">
                                            <a asp-controller="Schedule" asp-action="ChangeEventsStatus" asp-route-eventId="@eventItem.Id" asp-route-year="@Model.Year" asp-route-month="@Model.Month" asp-route-day="@Model.Day" class="btn btn-outline-primary btn-sm">@changeStatusButtonValue</a>
                                        </td>
                                    </tr>
                                    eventsId.Add(eventItem.Id);
                                }
                                else
                                {
                                    <tr>
                                        <td rowspan="2" style="font-size:medium; font:bold" id="(@i)_1">@(i/2)</td>
                                        <td class="@colorRow" id="(@i)_2">00</td>
                                        <td class="@colorRow" id="(@i)_3">
                                            -//-
                                        </td>
                                        <td class="@colorRow" id="(@i)_4">-//-</td>
                                        <td class="@colorRow" id="(@i)_5">-//-</td>
                                    </tr>
                                }
                                secondPartOfHourDrawn = false;
                                rowTime = rowTime + 30;
                                i++;
                            }
                            else
                            {
                                if (!eventsId.Contains(eventItem.Id))
                                {
                                    <tr>
                                        <td class="@colorRow" id="(@i)_2">30</td>
                                        <td class="@colorRow" id="(@i)_3">
                                            <span class="text-emphasize">Event:</span> @eventItem.TrainingName&#160
                                            <span class="text-emphasize">Client:</span> @eventItem.UserName&#160
                                        </td>
                                        <td class="@colorRow" id="(@i)_4">@eventItem.Status </td>
                                        <td class="@colorRow" id="(@i)_5">
                                            <a asp-controller="Schedule" asp-action="ChangeEventsStatus" asp-route-eventId="@eventItem.Id" asp-route-year="@Model.Year" asp-route-month="@Model.Month" asp-route-day="@Model.Day" class="btn btn-outline-primary btn-sm">@changeStatusButtonValue</a>
                                        </td>
                                    </tr>
                                    eventsId.Add(eventItem.Id);
                                }
                                else
                                {
                                    <tr>
                                        <td class="@colorRow" id="(@i)_2">30</td>
                                        <td class="@colorRow" id="(@i)_3">
                                            -//-
                                        </td>
                                        <td class="@colorRow" id="(@i)_4">-//-</td>
                                        <td class="@colorRow" id="(@i)_5">-//-</td>
                                    </tr>
                                }

                                secondPartOfHourDrawn = true;
                                rowTime = rowTime + 30;
                                i++;
                            }
                        }

                    }
                    if (secondPartOfHourDrawn)
                    {
                        <tr>
                            <td rowspan="2" class="@(isOffTime?"table-warning":"")" style="font-size:medium; font:bold" id="(@i)_1">@(i/2)</td>
                            <td class="@(isOffTime?"table-warning":"")" id="(@i)_2">00</td>
                            <td class="@(isOffTime?"table-warning":"")" id="(@i)_3"></td>
                            <td class="@(isOffTime?"table-warning":"")" id="(@i)_4"></td>
                            <td class="@(isOffTime?"table-warning":"")" id="(@i)_5"></td>
                        </tr>
                        secondPartOfHourDrawn = false;
                        rowTime = rowTime + 30;
                    }
                    else
                    {
                        <tr>
                            <td class="@(isOffTime?"table-warning":"")" id="(@i)_2">30</td>
                            <td class="@(isOffTime?"table-warning":"")" id="(@i)_3"></td>
                            <td class="@(isOffTime?"table-warning":"")" id="(@i)_4"></td>
                            <td class="@(isOffTime?"table-warning":"")" id="(@i)_5"></td>
                        </tr>
                        rowTime = rowTime + 30;
                        secondPartOfHourDrawn = true;
                    }
                }
            </tbody>
        </table>
    </div>
</div>

