@model FitMeApp.WEB.Contracts.ViewModels.CalendarPageWithEventsViewModel
@*PartialView (main page - /Schedule/Index)*@

@{
    Layout = null;
}

<div class="container" style="width:100%; border:solid; border-left-color:gray; border-right-color:gray">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div id="currentYear" style="font-size:medium">
                @Model.Date.Day @Model.MonthName @Model.Date.Year
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div style="font-size:medium">
                @{ string dayName = Model.Date.DayOfWeek.ToString();}
                @dayName
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered" style="text-align:center;font-size:small; width:100%">
            <thead class="table-dark">
                <tr>
                    <th scope="col" colspan="2" width="10%">Time</th>
                    <th scope="col" width="50%">Event</th>
                    <th scope="col" width="20%">Status</th>
                    <th scope="col" width="20%"></th>
                </tr>
            </thead>
            <tbody>
                @{int rowTime = ViewBag.StartWork; //Start time for schedule drawing
                    bool secondPartOfHourDrawn = true;
                    int startScheduleTime = ViewBag.StartWork / 30;
                    int endScheduleTime = ViewBag.EndWork / 30;
                    if ((ViewBag.StartWork % 60) != 0)
                    {
                        secondPartOfHourDrawn = false;
                    }
                }

                @for (int i = startScheduleTime; i < endScheduleTime; i++)
                {
                    @foreach (var eventItem in Model.Events)
                    {
                        List<int> eventsId = new List<int>();

                        @if (eventItem.TrainingName == "Personal training")
                        {
                            string colorRow = "table-info";
                            string changeStatusButtonValue = eventItem.Status == FitMeApp.Common.EventStatusEnum.Open ? "Confirm" : "Cancel";
                            while (eventItem.StartTime <= rowTime && eventItem.EndTime > rowTime)
                            {
                                if (secondPartOfHourDrawn)
                                {
                                    if (!eventsId.Contains(eventItem.Id))
                                    {
                                        <tr class="@colorRow">
                                            <td style="font-size:medium; font-weight: bold" id="(@i)_1">@(i/2)</td>
                                            <td id="(@i)_2">00</td>
                                            <td id="(@i)_3" class="text-emphasizeBolt">
                                                <span class="text-emphasize">Event:</span> @eventItem.TrainingName&#160
                                                <span class="text-emphasize">Client:</span> @eventItem.UserFirstName @eventItem.UserLastName&#160
                                            </td>
                                            <td id="(@i)_4">@eventItem.Status</td>

                                            <td id="(@i)_5">
                                                <form asp-controller="Schedule" asp-action="ChangeEventsStatus" method="post">
                                                    <input type="hidden" asp-for="Date" value="@Model.Date" />
                                                    <input type="hidden" asp-for="DayOnCalendarSelected" value="@Model.DayOnCalendarSelected" />
                                                    @foreach (var item in Model.DatesEventsCount)
                                                    {
                                                        <input type="hidden" asp-for="DatesEventsCount[item.Key]" value="@item.Value" />
                                                    }
                                                    <input type="hidden" name="eventId" value="@eventItem.Id" />
                                                    <input type="submit" name="name" value="@changeStatusButtonValue" class="btn btn-outline-primary btn-sm" />
                                                </form>
                                            </td>
                                        </tr>
                                        eventsId.Add(eventItem.Id);
                                    }
                                    else
                                    {
                                        <tr class="@colorRow">
                                            <td style="font-size:medium; font-weight:bold" id="(@i)_1">@(i/2)</td>
                                            <td id="(@i)_2">00</td>
                                            <td id="(@i)_3">
                                                -//-
                                            </td>
                                            <td id="(@i)_4">-//-</td>
                                            <td id="(@i)_5">-//-</td>
                                        </tr>
                                    }
                                    secondPartOfHourDrawn = false;
                                    rowTime = rowTime + 30;
                                    i++;
                                }
                                else
                                {
                                    if (!eventsId.Contains(eventItem.Id))
                                    {
                                        <tr class="@colorRow" style="border-bottom:2px solid">
                                            <td style="font-size:medium; font-weight:bold" id="(@i)_1">@(i/2)</td>
                                            <td id="(@i)_2">30</td>
                                            <td id="(@i)_3" class="text-emphasizeBolt">
                                                <span class="text-emphasize">Event:</span> @eventItem.TrainingName&#160
                                                <span class="text-emphasize">Client:</span> @eventItem.UserFirstName @eventItem.UserLastName&#160
                                            </td>
                                            <td id="(@i)_4">@eventItem.Status </td>
                                            <td id="(@i)_5">
                                                <form asp-controller="Schedule" asp-action="ChangeEventsStatus" method="post">
                                                    <input type="hidden" asp-for="Date" value="@Model.Date" />
                                                    <input type="hidden" asp-for="DayOnCalendarSelected" value="@Model.DayOnCalendarSelected" />
                                                    @foreach (var item in Model.DatesEventsCount)
                                                    {
                                                        <input type="hidden" asp-for="DatesEventsCount[item.Key]" value="@item.Value" />
                                                    }
                                                    <input type="hidden" name="eventId" value="@eventItem.Id" />
                                                    <input type="submit" name="name" value="@changeStatusButtonValue" class="btn btn-outline-primary btn-sm" />
                                                </form>
                                            </td>
                                        </tr>
                                        eventsId.Add(eventItem.Id);
                                    }
                                    else
                                    {
                                        <tr class="@colorRow" style="border-bottom:2px solid">
                                            <td style="font-size: medium; font-weight: bold" id="(@i)_1">@(i/2)</td>
                                            <td id="(@i)_2">30</td>
                                            <td id="(@i)_3">
                                                -//-
                                            </td>
                                            <td id="(@i)_4">-//-</td>
                                            <td id="(@i)_5">-//-</td>
                                        </tr>
                                    }

                                    secondPartOfHourDrawn = true;
                                    rowTime = rowTime + 30;
                                    i++;
                                }
                            }
                        }
                        else
                        {
                            string colorRow = "table-warning";
                            int availablePlacesCount = eventItem.ParticipantsLimit - eventItem.ActualParticipantsCount;
                            while (eventItem.StartTime <= rowTime && eventItem.EndTime > rowTime)
                            {
                                if (secondPartOfHourDrawn)
                                {
                                    if (!eventsId.Contains(eventItem.Id))
                                    {

                                        <tr class="@colorRow">
                                            <td style="font-size:medium; font-weight: bold" id="(@i)_1">@(i/2)</td>
                                            <td id="(@i)_2">00</td>
                                            <td id="(@i)_3" class="text-emphasizeBolt">
                                                <span class="text-emphasize">Group class:</span> @eventItem.TrainingName&#160
                                                <span class="text-emphasize">Participants:</span> @eventItem.ActualParticipantsCount&#160
                                                <span class="text-emphasize">Places left:</span> @availablePlacesCount &#160
                                            </td>
                                            <td id="(@i)_4">@eventItem.Status</td>
                                            <td id="(@i)_5">
                                                <a asp-action ="DeleteGroupClassScheduleRecord" asp-controller="Schedule" 
                                                   asp-route-grClassScheduleRecordId="@eventItem.GroupClassScheduleRecordId" 
                                                   asp-route-actualParticipantsCount ="@eventItem.ActualParticipantsCount" 
                                                   class="btn btn-outline-danger">Cancel</a>
                                            </td>
                                        </tr>
                                        eventsId.Add(eventItem.Id);
                                    }
                                    else
                                    {
                                        <tr class="@colorRow">
                                            <td style="font-size:medium; font-weight:bold" id="(@i)_1">@(i/2)</td>
                                            <td id="(@i)_2">00</td>
                                            <td id="(@i)_3">
                                                -//-
                                            </td>
                                            <td id="(@i)_4">-//-</td>
                                            <td id="(@i)_5">-//-</td>
                                        </tr>
                                    }
                                    secondPartOfHourDrawn = false;
                                    rowTime = rowTime + 30;
                                    i++;
                                }
                                else
                                {
                                    if (!eventsId.Contains(eventItem.Id))
                                    {
                                        <tr class="@colorRow" style="border-bottom:2px solid">
                                            <td style="font-size:medium; font-weight:bold" id="(@i)_1">@(i/2)</td>
                                            <td id="(@i)_2">30</td>
                                            <td id="(@i)_3" class="text-emphasizeBolt">
                                                <span class="text-emphasize">Group class:</span> @eventItem.TrainingName&#160
                                                <span class="text-emphasize">Participants:</span> @eventItem.ActualParticipantsCount&#160
                                                <span class="text-emphasize">Places left:</span> @availablePlacesCount &#160
                                            </td>
                                            <td id="(@i)_4">@eventItem.Status </td>
                                            <td id="(@i)_5"></td>
                                        </tr>
                                        eventsId.Add(eventItem.Id);
                                    }
                                    else
                                    {
                                        <tr class="@colorRow" style="border-bottom:2px solid">
                                            <td style="font-size: medium; font-weight: bold" id="(@i)_1">@(i/2)</td>
                                            <td id="(@i)_2">30</td>
                                            <td id="(@i)_3">
                                                -//-
                                            </td>
                                            <td id="(@i)_4">-//-</td>
                                            <td id="(@i)_5">-//-</td>
                                        </tr>
                                    }

                                    secondPartOfHourDrawn = true;
                                    rowTime = rowTime + 30;
                                    i++;
                                }
                            }
                        }


                    }
                    if (secondPartOfHourDrawn)
                    {
                        <tr>
                            <td style="font-size: medium; font-weight: bold" id="(@i)_1">@(i/2)</td>
                            <td id="(@i)_2">00</td>
                            <td id="(@i)_3"></td>
                            <td id="(@i)_4"></td>
                            <td id="(@i)_5"></td>
                        </tr>
                        secondPartOfHourDrawn = false;
                        rowTime = rowTime + 30;
                    }
                    else
                    {
                        <tr style="border-bottom:2px solid">
                            <td style="font-size: medium; font-weight: bold" id="(@i)_1">@(i/2)</td>
                            <td id="(@i)_2">30</td>
                            <td id="(@i)_3"></td>
                            <td id="(@i)_4"></td>
                            <td id="(@i)_5"></td>
                        </tr>
                        rowTime = rowTime + 30;
                        secondPartOfHourDrawn = true;
                    }
                }
            </tbody>
        </table>
    </div>
</div>



