@model FitMeApp.WEB.Contracts.ViewModels.CalendarPageWithEventsViewModel
@*PartialView (main page - /Schedule/Index)*@

@{
    Layout = null;
}

<div class="container" style="width:100%; border:solid; border-left-color:gray; border-right-color:gray">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div id="currentYear" style="font-size:medium">
                @Model.Date.Day @Model.MonthName @Model.Date.Year
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div style="font-size:medium">
                @{ string dayName = Model.Date.DayOfWeek.ToString();}
                @dayName
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered" style="text-align:center;font-size:small; width:100%">
            <thead class="table-dark">
                <tr>
                    <th scope="col" colspan="2" width="15%">Time</th>
                    <th scope="col" width="60%">Event</th>
                    <th scope="col" width="20%">Status</th>
                </tr>
            </thead>
            <tbody>
                @{int rowTime = 0;
                    bool secondPartOfHourDrawn = true;}

                @for (int i = 0; i < 48; i++)
                {
                    @foreach (var eventItem in Model.Events)
                    {
                        List<int> eventsId = new List<int>();
                        while (eventItem.StartTime <= rowTime && eventItem.EndTime > rowTime)
                        {
                            if (secondPartOfHourDrawn)
                            {
                                if (!eventsId.Contains(eventItem.Id))
                                {
                                    <tr>
                                        <td style="font-size:medium; font-weight:bold" id="(@i)_1">@(i/2)</td>
                                        <td class="table-info" id="(@i)_2">00</td>
                                        <td class="table-info" id="(@i)_3">
                                            @*<span class="text-emphasize">Event:</span> @eventItem.TrainingName&#160*@
                                            <span class="text-emphasize">Trainer:</span> @eventItem.TrainerFirstName @eventItem.TrainerLastName&#160
                                            <span class="text-emphasize">Gym:</span> @eventItem.GymName
                                        </td>
                                        <td class="table-info" id="(@i)_4">@eventItem.Status</td>
                                    </tr>
                                    eventsId.Add(eventItem.Id);
                                }
                                else
                                {
                                    <tr>
                                        <td style="font-size: medium; font-weight: bold" id="(@i)_1">@(i/2)</td>
                                        <td class="table-info" id="(@i)_2">00</td>
                                        <td class="table-info" id="(@i)_3">
                                            -//-
                                        </td>
                                        <td class="table-info" id="(@i)_4">-//-</td>
                                    </tr>
                                }
                                secondPartOfHourDrawn = false;
                                rowTime = rowTime + 30;
                                i++;
                            }
                            else
                            {
                                if (!eventsId.Contains(eventItem.Id))
                                {
                                    <tr style="border-bottom:2px solid">
                                        <td style="font-size: medium; font-weight: bold" id="(@i)_1">@(i/2)</td>
                                        <td class="table-info" id="(@i)_2">30</td>
                                        <td class="table-info" id="(@i)_3">
                                            @*<span class="text-emphasize">Event:</span> @eventItem.TrainingName&#160*@
                                            <span class="text-emphasize">Trainer:</span> @eventItem.TrainerFirstName @eventItem.TrainerLastName&#160
                                            <span class="text-emphasize">Gym:</span> @eventItem.GymName
                                        </td>
                                        <td class="table-info" id="(@i)_4">@eventItem.Status </td>
                                    </tr>
                                    eventsId.Add(eventItem.Id);
                                }
                                else
                                {
                                    <tr style="border-bottom:2px solid">
                                        <td style="font-size: medium; font-weight: bold" id="(@i)_1">@(i/2)</td>
                                        <td class="table-info" id="(@i)_2">30</td>
                                        <td class="table-info" id="(@i)_3">
                                            -//-
                                        </td>
                                        <td class="table-info" id="(@i)_4">-//-</td>
                                    </tr>
                                }

                                secondPartOfHourDrawn = true;
                                rowTime = rowTime + 30;
                                i++;
                            }
                        }

                    }
                    if (secondPartOfHourDrawn)
                    {
                        <tr>
                            <td style="font-size: medium; font-weight: bold" id="(@i)_1">@(i/2)</td>
                            <td id="(@i)_2">00</td>
                            <td id="(@i)_3"></td>
                            <td id="(@i)_4"></td>
                        </tr>
                        secondPartOfHourDrawn = false;
                        rowTime = rowTime + 30;
                    }
                    else
                    {
                        <tr style="border-bottom:2px solid">
                            <td style="font-size: medium; font-weight: bold" id="(@i)_1">@(i/2)</td>
                            <td id="(@i)_2">30</td>
                            <td id="(@i)_3"></td>
                            <td id="(@i)_4"></td>
                        </tr>
                        rowTime = rowTime + 30;
                        secondPartOfHourDrawn = true;
                    }
                }
            </tbody>
        </table>
    </div>
</div>







