@model IEnumerable<FitMeApp.WEB.Contracts.ViewModels.HomeTrainingViewModel>

@{
    ViewData["Title"] = "HomeTrainingsList";
}


<div class="container">
    @foreach (var training in Model)
    {
        <div class="row">
            <div class="container" style="border: gray solid; margin: 10px">
                <div class="row">
                    <div class="col-md-8">
                        <div style="margin: 10px; text-align: center">
                            <h5 class="card-title">@training.Name</h5>
                        </div>
                        <div class="card-text">@training.ShortDescription</div>
                        <div>
                            <a asp-controller="HomeTraining" asp-action="DownloadHomeTrainingPlan" ></a>
                        </div>
                    </div>
                    <div class="col-md-4" style="padding: 15px 15px 0 15px">
                        @{ string yesNoPicture = training.EquipmentIsNeeded ? "/Content/images/yes.jpg" : "/Content/images/no.jpg";}
                        <table class="table table-sm" style="background-color: #FFFEF3 ">
                            <tbody>
                                <tr>
                                    <td>Сonsumption</td>
                                    <td>@training.AverageCalConsumption</td>
                                    <td>kcal</td>
                                </tr>
                                <tr>
                                    <td>Duration</td>
                                    <td>@training.Duration</td>
                                    <td>min</td>
                                </tr>
                                <tr>
                                    <td>Max age</td>
                                    <td>@training.MaxAge</td>
                                    <td>years</td>
                                </tr>
                                <tr>
                                    <td>Max BMI</td>
                                    <td>@training.MaxBMI</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>@training.Gender</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Equipment</td>
                                    <td>
                                        <img src="@yesNoPicture" style="height: 20px; width: auto" />
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }


</div>