@model FitMeApp.WEB.Contracts.ViewModels.CalendarPageWithEventsViewModel

@{string showEventsActionName = ViewBag.ShowEventsActionName;
    int dayNumber = ViewBag.DayNumber;
    DateTime currentDate = new DateTime(Model.Date.Year, Model.Date.Month, dayNumber);}

<form asp-controller="Schedule" asp-action="@showEventsActionName" method="post">

    <input type="hidden" asp-for="Date" value="@currentDate" />
    <input type="hidden" asp-for="DayOnCalendarSelected" value="@true" />    
    @foreach (var item in Model.DatesEventsCount)
    {
        <input type="hidden" asp-for="DatesEventsCount[item.Key]" value="@item.Value" />
    }

    <div class="btn btn-light btn-sm position-relative" style="padding:0px">
        <input type="submit" value=" @dayNumber" class="btn btn-light btn-sm">
        @if (Model.DatesEventsCount.ContainsKey(currentDate))
        {
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                @Model.DatesEventsCount[currentDate]
                <span class="visually-hidden">unread messages</span>
            </span>
        }
    </div>
</form>
