@model FitMeApp.WEB.Contracts.ViewModels.ApplyingForPersonalTrainingViewModel



<div class="container" style="text-align:center">
    <div class="row">
        <div class=" col-md-3">

        </div>
        <div class="col-md-6" style="text-align: center">
            <div class="card mb-3" style="width: 18rem; margin: 20px; ">
                <div class="card-body">
                    <h4 class="card-title text-center">Applying for training</h4>
                    <p class="card-text">
                        Trainer: @Model.TrainerFirstName @Model.TrainerLastName
                    </p>
                    <p class="card-text">
                        Gym: @Model.GymName
                    </p>
                    <p class="card-text">
                        Gym: @Model.GymAddress
                    </p>
                    <br />
                    <p class="card-text small">
                        Select date
                    </p>
                    @{ string minDate = DateTime.Today.Date.ToString("yyyy-MM-dd");
                        string maxDate = DateTime.Today.AddDays(60).Date.ToString("yyyy-MM-dd");}
                    <input type="date" name="selectedDate" min="@minDate" max="@maxDate" value="@minDate" />
                    <br />
                    <p class="card-text small">
                        Select time
                    </p>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="startTime">
                        <option selected value="@Model.AvailableTime[0]">@Model.AvailableTime[0]</option>
                        @foreach (var time in Model.AvailableTime)
                        {
                            <option value="@time">@time</option>
                        }
                    </select>
                    <br />
                    <p class="card-text small">
                        Select duration of training
                    </p>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option value="60">60 min</option>
                        <option value="90">90 min</option>
                    </select>
                </div>
                <div class="card-footer">
                    <h3 style="font:bold"> __ $</h3>
                    <a asp-controller="Trainers" asp-action="Index" class="btn btn-dark" style="width:30%">Cancel</a>
                    <input type="submit" value="Ok" class="btn btn-dark" />
                </div>
            </div>
        </div>
        <div class=" col-md-3">

        </div>

    </div>

</div>
