@*@model IEnumerable<FitMeApp.WEB.Contracts.ViewModels.HomeTrainingViewModel>*@

@{
    ViewData["Title"] = "WelcomeToHomeTrainings";
}


<div class="container">
    <div class="row">
        <div class="col-md-9" style="padding:20px">
            <h4>
                Going to the gym isn’t the only way to get in a great workout!
            </h4>
            <h6>
                Working out at home can be just as effective as working out in the gym.
                Just choose the type of training that suits you the most and go to your goal!
                <br />
                Use the filter below if you need.
            </h6>
            <hr />
        </div>
        <div class="col-md-3">
            <img src="/Content/images/homeTraining1.jpg" alt="picture" style="height: 200px; width: auto; margin: 0 20px">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div style="background-color: #FFFCE0; padding: 15px 25px;  margin: 10px">
                <div class="card-text">Gender:</div>
                <select id="genderSelector" name="gender" class="form-select form-select-sm" aria-label="Small select example">
                    <option selected></option>
                    @foreach (var gender in Enum.GetValues(typeof(FitMeApp.Common.GenderEnum)))
                    {
                        <option value="@gender.ToString()">@gender.ToString()</option>
                    }
                </select>

                <div class="card-text">For age:</div>
                <select id="ageSelector" name="age" class="form-select form-select-sm" aria-label="Small select example">
                    <option selected></option>
                    @for (int age = 40; age < 90; age += 5)
                    {
                        <option value="@age">@age</option>
                    }
                </select>

                <div class="card-text">Calories burned:</div>
                <select id="calorieSelector" name="calorie" class="form-select form-select-sm" aria-label="Small select example">
                    <option selected></option>
                    @for (int calorie = 150; calorie < 600; calorie += 50)
                    {
                        <option value="@calorie">@calorie</option>
                    }
                </select>

                <div class="card-text">Session no longer than:</div>
                <select id="durationSelector" name="duration" class="form-select form-select-sm" aria-label="Small select example">
                    <option selected></option>
                    @for (int min = 15; min < 60; min += 5)
                    {
                        <option value="@min">@min min</option>
                    }
                </select>

                <div class="card-text">With equipment?</div>
                <select id="equipmentSelector" name="equipment" class="form-select form-select-sm" aria-label="Small select example">
                    <option selected></option>
                    <option value="@true">yes</option>
                    <option value="@false">no</option>
                </select>
                <br />
                <div style="text-align: center">
                    <a asp-controller="HomeTraining" asp-action="WelcomeToHomeTrainings" class="btn btn-outline-dark btn-sm">Clean</a>
                    <button id="submitBtn" class="btn btn-dark btn-sm">Search</button>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="homeTrainingsList">
            @await Component.InvokeAsync("HomeTrainingsList")
        </div>
    </div>
</div>



<script>
    const genderSelector = document.querySelector('#genderSelector');
    const ageSelector = document.querySelector('#ageSelector');
    const calorieSelector = document.querySelector('#calorieSelector');
    const durationSelector = document.querySelector('#durationSelector');
    const equipmentSelector = document.querySelector('#equipmentSelector');

    document.getElementById("submitBtn").addEventListener('click', function(e) {
        var gender = genderSelector.value;
        var age = ageSelector.value;
        var calorie = calorieSelector.value;
        var duration = durationSelector.value;
        var equipment = equipmentSelector.value;
        var _url = '@Url.Action("InvokeHomeTrainingsListViewComponent", "HomeTraining")';

        $.ajax({
            type: "Get",
            url: _url,
            data: {
                gender: gender,
                age: age,
                calorie: calorie,
                duration: duration,
                equipment: equipment
            },
            success: function (result) {
                $('#homeTrainingsList').empty();
                $('#homeTrainingsList').html(result);
            }
        });
    });

</script>




